@using ImapX.Collections
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    @*<meta name="viewport" content="width=device-width" />*@
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
    <body>
        
        <div class="container">
            
            @if (ViewBag.IsAuthenticated)
            {

                <aside class="sidebar">

                    <div class="logo"></div>

                    @Html.Partial("FolderListPartial", ViewBag.Folders as CommonFolderCollection)
                </aside>
                <section class="messages">
                    @RenderBody()
                </section>

                <section class="reader">
                    <header>
                        <h2 class="subject">
                             
                        </h2>
                    </header>
                    <iframe>
                        
                    </iframe>
                </section>

            }
            else
            {
                <div class="box">
                    @RenderBody()
                </div>
            }
                
            <div class="cl"></div>

        </div>
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
